<a href="https://colab.research.google.com/github/alapatijahnavi/CODING/blob/main/ACCENTURE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def Maximum_product(a,b):
  if a >b:
    L1= a * b
    L2 = b * b
  else:
    L1 = a * b
    L2 = a * a
    return(max(L1,L2))

# **MAXIMUM PRODUCT**

In [ ]:
def max(a,b):
  if a > b:
    return a
  else:
    return b
L1, L2, R1, R2 = 1, 2, 3, 4
max_product = max(a=max(max(L1 * L2, L1 * R2),max(R1 * L2, R1 * R2)),b=max(L1 * R1, L2 * R2))
print(max_product)

12

In [ ]:
n = int(input())
if n > 0:
  print(n*(3*n+1))//2
else:
    print(-1)

-1
-1

# **NO OF CARDS**

In [ ]:
def Number_of_cards(n):
  if n < 0:
    return -1
  else:
    return(n*(3*n+1))//2
n = int(input())
print(Number_of_cards(n))

5
40

In [ ]:
n = int(input())
count = 0
for i in range(1, n+1):
  digit_count = 0
  num = i
while num > 0:
  digit_count += 1
  num //= 10
  if digit_count % 2 == 0:
    count +=1
    print(count)

2

# **AUTOMORPHIC NUMBER**

In [ ]:
n = int(input())
m = n * n
num = m % 10
if num == n:
  print("Automorphic")
else:
  print("Not Automorphic")

5
Automorphic

# **ABUNDANT**

In [ ]:
n = int(input())
sum = 0
for i in range(1, n):
  if n % i == 0:
    sum =sum+i
    if sum > n:
      print("Abundant")

1

# **HARSHAD NUMBER**

In [ ]:
n = int(input())
sum = 0
rem = n%10
while(rem > 0):
  sum = sum + rem
  n = n//10
  rem = n%10
  if n%sum == 0:
    print("Harshad")
  else:
    print("Not Harshad")

21
Harshad
Harshad

# **PERFECT NUMBER**

In [ ]:
n = int(input())
sum = 0
for i in range(1, n):
  if n % i == 0:
    sum =sum+i
    if sum == n:
      print("Perfect Number")

28
Perfect Number

# **FRIENDLY PAIR**

In [ ]:
n1 = int(input())
n2 = int(input())
sum1 = 0
sum2 = 0
for i in range(1, n1):
  if n1 % i == 0:
    sum1 =sum1+i
    for j in range(1, n2):
      if n2 % j == 0:
        sum2 = sum2+j
        if sum1 == n2 and sum2 == n1:
          print("Frienly Pair")
        else:
          print("Not Friendly Pair")

4
2
Not Friendly Pair
Not Friendly Pair

# **PERFECT SQUARE**

In [ ]:
n = 25
for i in range(1, n):
  if i * i == n:
    print("Perfect Square")
  else:
    print("Not Perfect Square")

Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square
Not Perfect Square

# **vowels and consonants in string**

In [1]:
c = input()
if(c == 'a' or c == 'e' or c == 'i' or c == 'o' or c == 'u' or c == 'A' or c == 'E' or c == 'I' or c == 'O' or c == 'U'):
  print("vowels")
else:
  print("consonants")

a
vowels

In [22]:
char = input()
v = 0
c = 0
for i in char:
  if(i == 'i'):
    v += 1
  else:
    c += 1
print(v)
print(c)

janu
0
4

**ALAPABETHS**

In [20]:
ch = input()
if 'a' <= ch <= 'z' or 'A' <= ch <= 'Z':
  print("Alpha")
else:
  print("Not Alpha")

d
Alpha

# **ASKII VALUE**

In [25]:
a = input()
b = ord(a)
print(b)

@
64

# **LENGTH OF THE STRING**

In [28]:
s = input()
l = 0
for i in s:
  l+=1
  print(l)

janu
4

In [29]:
a =[1, 4, 3]
a.sort()
print(a)

[1, 3, 4]

In [33]:
a =[1, 4, 3]
b = sorted(a)
print(b)

[1, 3, 4]

# **with swap case and built in functions**

In [34]:
str = input()
print(str.swapcase())

JANU
janu

In [35]:
str = input()
str1 = ""
for i in str:
  if i.isupper():
    i = i.lower()
    str1 += i
  else:
    i = i.upper()
    str1 += i
    print(str1)

janu
J
JA
JAN
JANU

In [38]:
str = input()
str = str[0].upper() + str[1:len(str)-1] + str[len(str)-1]
print(str)

jahnavi
Jahnavi

# **SPLIT METHOD**

In [45]:
str = input()
words = str.split()
cap_word = []
for word in words:
  if len(word) > 1:
    cap_word = word[0].upper() + word[1:-1] + word[-1].upper()
else:
    cap_word = word.upper()
    cap_word += (cap_word)
    print(''.join(cap_word))

crack a code
CODECODE

# ***USING SLICE METHOD***

In [47]:
str = input()
str = str[::-1]
print(str)

code
edoc

# **without using slice method**

In [48]:
str = input()
str1 = ""
for i in range(len(str)-1, -1, -1):
  str1 += str[i]
  print(str1)

code
e
ed
edo
edoc